<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add User</title>
    </head>
    <body>
        <h1>Add User</h1>

        <form method="POST" action="/add-user">
            <div>
                <label>Username</label>
                <input type="text" name="username" required />
            </div>
            <div>
                <label>Email</label>
                <input type="text" name="email" required />
            </div>

            <div>
                <label>Role</label>
                <input type="text" name="role" required />
            </div>
            
            <div>
                <button type="submit">Add User</button>
            </div>
        </form>

        

        
    </body>
</html>