<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Add Project</title>
    </head>
    <body>
        <h1>Add Project</h1>

        <form method="POST" action="/add-project">
            <div>
                <label>Project Name</label>
                <input type="text" name="projectname" required />
            </div>
            <div>
                <label>Description</label>
                <input type="text" name="description" required />
            </div>
            <div>
                <label>Users Involved</label>
                <input type="text" name="usersinvolved" required />
        
            </div>
        <!--    <div>
                <label>date</label>
                <input type="text" name="date" required />
            </div>--> 
            <div>
                <button type="submit">Add Project</button>
            </div>
        </form>
    </body>
</html>